**.aux
**.auxlock
**.bcf
**.bcf-SAVE-ERROR
**.bbl
**.blg
**.fdb_latexmk
**.fls
**.glo
**.idx
**.ilg
**.ist
**.ind
**.log
**.out
**.slo
**.run.xml
**.synctex.gz
**.toc
**.xdv
**.pygstyle
**.pygtex
**.synctex(busy)
/Documentation/_minted-main

.vscode
qiskittest.ipynb