**.aux
**.auxlock
**.bcf
**.bcf-SAVE-ERROR
**.fdb_latexmk
**.fls
**.idx
**.ilg
**.ind
**.log
**.out
**.run.xml
**.synctex.gz
**.toc
**.xdv
**.pygstyle
**.pygtex
**.synctex(busy)
/Documentation/_minted-main

.vscode
qiskittest.ipynb